@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}
html, body {
	/*background: linear-gradient(to left, #2b1342, #300823);*/
	background-image: url(../../assets/images/background.png);
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	overflow: hidden;
	outline: none;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.bottom {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100vh;
	height: 100px;
	display: flex;
	justify-content: baseline;
	align-items: flex-end;
}
canvas {
	position:absolute;
	left:0;
	top:0;
	z-index: 1;
	transition: all 0.3s linear;
}
.game-canvas {
	background: #291627;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.menu {
	display: flex;
	flex-direction:column;
	justify-content:center;
	align-items: center;
	min-height:100vh;
	z-index: 10;
	transition: all 0.2s linear;
	animation: fadeIn 0.8s linear;
}
.menu h1  {
	font-size:5rem;
	z-index: 20;
	transition: all 0.2s linear;
	color: #09081c;
}
.button-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction:column;
	margin: 10px;
	z-index: 20;
}
button {
	border: 10px solid #573700;
	outline: none;
	cursor: pointer;
	padding: 10px;
	background-color: #b37710;
	margin: 10px;
	border-radius: 10px;
	width: 200px;
	height: 75px;
	text-align:center;
	font-size: 1.5rem;
	color: #573700;
}
a {
	display: block;
}
.menu .help {
	display: flex;
	justify-content: center;
	align-items: center;
}
.hidden {
	display: none;
}
.credits {
	position:absolute;
	left: 10px;
	bottom: 10px;
}
.play {
	background: #613273;
	border: 4px solid #6a00d4;
	color: #200526;
	transition: all 0.3s linear;
	border-radius: 3px;
	opacity: 0.8;
	height: 50px;
	padding: 5px;
	margin-top: 25px;
}
.bottom button{
	background: #42508a;
	border: 4px solid #121d21;
	color: #121d21;
	transition: all 0.3s linear;
	height: 50px;
	width: 150px;
	margin: 5px;
	padding: 5px;
}
.update {
	color: #c4ae4b;
	animation: sizing 1s ease-in-out infinite;
	position: absolute;
	margin-top:10px;
}
@keyframes sizing {
	0% {
		font-size: 1rem;
	}
	50% {
		font-size: 1.5rem;
	}
	100% {
		font-size: 1rem;
	}
}
.bottom button:hover {
	background: #0089c4;
}
.play:hover {
	background: #763e8c;
	border: 5px solid #6a00d4;
	opacity: 1;
}
.overlay {
	position: absolute;
	left: -140%;
	top: 0;
	width: 140%;
	height: 100vh;
	background-color: white;
	opacity: 0.05;
	animation: moveOverlay 60s linear infinite;
}
@keyframes moveOverlay {
	0% {
		left: -140%;
	}
	100% {
		left: 150vw;
	}
}