@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}
html, body {
	background-color: black;
	font-family: 'Potta One', cursive;
	font-size: 16px;
}
canvas {
	position:absolute;
	left:0;
	top:0;
	z-index: 1;
}
.menu {
	display: flex;
	flex-direction:column;
	justify-content:center;
	align-items: center;
	min-height:100vh;
	z-index: 10;
}
.menu h1 {
	color: #b80b2e;
	font-size:5rem;
	z-index: 20;
}
.button-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction:column;
	margin: 10px;
	z-index: 20;
}
button {
	border: 10px solid #573700;
	cursor: pointer;
	padding: 10px;
	background-color: #b37710;
	margin: 10px;
	border-radius: 10px;
	width: 200px;
	height: 75px;
	text-align:center;
	font-size: 1.5rem;
	font-weight: bold;
	color: #573700;
}
a {
	display: block;
}
.menu .help {
	display: flex;
	justify-content: center;
	align-items: center;
}
.hidden {
	display: none;
}
.credits {
	position:absolute;
	left: 10px;
	bottom: 10px;
}
.play {
	background: #12a108;
	border: 10px solid #0d2607;
	color: #0d2607;
}
.contribute, .feedback {
	background: #029c96;
	border: 10px solid #121d21;
	color: #121d21;
}